.sidebar {
  width: 230px;
  background: #1f2937;
  height: 100vh;
  padding: 20px;
  color: white;
  position: fixed;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  color: white;
}
