.logout-btn {
  position: fixed;
  top: 15px;
  right: 25px;
  background-color: #22f722;
  padding: 10px 18px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #b52b27;
}
